body {
    background-color: rgb(196, 196, 196);
    background: url('../assets/Brendon-8.png') no-repeat center center fixed;
    background-position: center 20%;

iframe {
    margin-left: 250px;
    margin-top: 100px;
}
}